[submodule "Variant/Vender/spdlog"]
	path = Variant/Vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Variant/Vender/GLFW"]
	path = Variant/Vender/GLFW
	url = https://github.com/sreenath707/GLFW